<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/liu-congcong/IPAInstaller/blob/master/SuperGo.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <string>NO</string>
                    <key>url</key>
                    <string>https://www.xunlei-ios.com/res/xunlei.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <string>NO</string>
                    <key>url</key>
                    <string>https://www.xunlei-ios.com/res/xunlei.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.mmp.mmpas</string>
                <key>bundle-version</key>
                <string>2.1</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>【蒲公英】【直播渠道和通用渠道】New Times Securities Co., Ltd</string>
                <key>title</key>
                <string>Super Go</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>